<h1>AI in Fact and Fiction - Summer 2020</h1>
<h2>Public Emotions - Creating Training Dataset</h2>

<!-- <p><a href="">Run this notebook on collab.</a></p> -->

<hr>

<h3>Preparation</h3>

Import the following libraries that you will use for this code:

In [ ]:
import pandas as pd
import numpy as np
import re
import json
import csv
import calendar

Upload the jsonl file and csv file needed for Tweet conversion.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving corona_tweets_95.jsonl to corona_tweets_95.jsonl

<h2 id="Reading_Data">Reading Data from Imported Files</h2>

View data in csv file to check for delimiter and help with parsing.

In [ ]:
with open('corona_tweets_95.csv', 'r') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    for row in readCSV:
        print(row)
        print(row[0])

        break #I put this here just to see if things are being read. The csv file is really big, dont want to print it all

['1274559089041907712', '0.8']
1274559089041907712

Get data from jsonl file and check to see if getting the data succeeded.

In [ ]:
data = []

with open('corona_tweets_95.jsonl', 'r', encoding='utf-8') as f:
  for line in f:
    #print(line)
    data.append(json.loads(line))
    
print(data[62])

{'created_at': 'Sun Jun 21 04:50:54 +0000 2020', 'id': 1274565433216000000, 'id_str': '1274565433216000000', 'full_text': 'RT @CalEndow: #COVID19 is killing young Black Americans at an alarmingly high rate. \n\nThe pandemic has laid bare the deadly results of unde…', 'truncated': False, 'display_text_range': [0, 140], 'entities': {'hashtags': [{'text': 'COVID19', 'indices': [14, 22]}], 'symbols': [], 'user_mentions': [{'screen_name': 'CalEndow', 'name': 'California Endowment', 'id': 132254256, 'id_str': '132254256', 'indices': [3, 12]}], 'urls': []}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 544973361, 'id_str': '544973361', 'name': 'Shweta', 'screen_name': 'OodLittleThing', 'location': 'North. ', 'description': '27. English Teacher. Somewhat writerly. DEFINITELY not a robot. Attempting to be a functioning member of society. Will it work? Tune in never.', 'url': 'https://t.co/4IC55ptXWE', 'entities': {'url': {'urls': [{'url': 'https://t.co/4IC55ptXWE', 'expanded_url': 'http://www.goodreads.com/shwetareadsthings', 'display_url': 'goodreads.com/shwetareadsthi…', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 217, 'friends_count': 278, 'listed_count': 0, 'created_at': 'Wed Apr 04 06:20:37 +0000 2012', 'favourites_count': 1062, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 1459, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'FFFFFF', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme5/bg.gif', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme5/bg.gif', 'profile_background_tile': True, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1021861197316939776/Momm3Da6_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1021861197316939776/Momm3Da6_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/544973361/1396980548', 'profile_link_color': '000000', 'profile_sidebar_border_color': 'FFFFFF', 'profile_sidebar_fill_color': 'FFFFFF', 'profile_text_color': '000000', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'retweeted_status': {'created_at': 'Wed Apr 29 19:14:21 +0000 2020', 'id': 1255576172831936500, 'id_str': '1255576172831936516', 'full_text': '#COVID19 is killing young Black Americans at an alarmingly high rate. \n\nThe pandemic has laid bare the deadly results of underlying racism &amp; inequality in our institutions. \n\nThere can be no health justice without racial justice. \n\n#Health4All. https://t.co/Nhl85zM642', 'truncated': False, 'display_text_range': [0, 248], 'entities': {'hashtags': [{'text': 'COVID19', 'indices': [0, 8]}, {'text': 'Health4All', 'indices': [236, 247]}], 'symbols': [], 'user_mentions': [], 'urls': [], 'media': [{'id': 1255576169916833800, 'id_str': '1255576169916833794', 'indices': [249, 272], 'media_url': 'http://pbs.twimg.com/media/EWyz38xWoAI248x.jpg', 'media_url_https': 'https://pbs.twimg.com/media/EWyz38xWoAI248x.jpg', 'url': 'https://t.co/Nhl85zM642', 'display_url': 'pic.twitter.com/Nhl85zM642', 'expanded_url': 'https://twitter.com/CalEndow/status/1255576172831936516/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 1200, 'h': 675, 'resize': 'fit'}, 'small': {'w': 680, 'h': 383, 'resize': 'fit'}, 'large': {'w': 1200, 'h': 675, 'resize': 'fit'}}}]}, 'extended_entities': {'media': [{'id': 1255576169916833800, 'id_str': '1255576169916833794', 'indices': [249, 272], 'media_url': 'http://pbs.twimg.com/media/EWyz38xWoAI248x.jpg', 'media_url_https': 'https://pbs.twimg.com/media/EWyz38xWoAI248x.jpg', 'url': 'https://t.co/Nhl85zM642', 'display_url': 'pic.twitter.com/Nhl85zM642', 'expanded_url': 'https://twitter.com/CalEndow/status/1255576172831936516/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 1200, 'h': 675, 'resize': 'fit'}, 'small': {'w': 680, 'h': 383, 'resize': 'fit'}, 'large': {'w': 1200, 'h': 675, 'resize': 'fit'}}}]}, 'source': '<a href="https://www.heyorca.com" rel="nofollow">HeyOrca</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 132254256, 'id_str': '132254256', 'name': 'California Endowment', 'screen_name': 'CalEndow', 'location': 'California', 'description': 'A private foundation promoting improvements in the health status of all Californians. #PeoplePower ✊🏾', 'url': 'https://t.co/K6hJT0xra5', 'entities': {'url': {'urls': [{'url': 'https://t.co/K6hJT0xra5', 'expanded_url': 'http://www.calendow.org', 'display_url': 'calendow.org', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 42775, 'friends_count': 2286, 'listed_count': 812, 'created_at': 'Mon Apr 12 18:37:44 +0000 2010', 'favourites_count': 6549, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 21616, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': '00496E', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1060589751546261505/6NiTceck_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1060589751546261505/6NiTceck_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/132254256/1543947891', 'profile_link_color': '00496E', 'profile_sidebar_border_color': 'FFFFFF', 'profile_sidebar_fill_color': 'FFFFFF', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 547, 'favorite_count': 1676, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'lang': 'en'}, 'is_quote_status': False, 'retweet_count': 547, 'favorite_count': 0, 'favorited': False, 'retweeted': False, 'lang': 'en'}

<h2 id="Convert_Data">Converting Data into Dataframes</h2>

Get data from imported csv file. Convert the csv data gathered into a Dataframe with the proper type values.

In [ ]:
csv_data = []

with open('lab4.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    for row in readCSV:
      csv_data.append([])
      for item in row:
          csv_data[-1].append(item)

df_csv = pd.DataFrame(csv_data, columns=['ID','Rating'])
df_csv['ID'] = df_csv['ID'].astype(int)
df_csv['Rating'] = df_csv['Rating'].astype(float)

df_csv

                          ID    Rating
0        1274559089041907712  0.800000
1        1274559089209638912 -1.000000
2        1274559089570349056  0.136364
3        1274559089696219136  0.100000
4        1274559089633193988 -0.227778
...                      ...       ...
3352638  1274921323509080065 -0.187500
3352639  1274921323593109505 -0.275000
3352640  1274921323693699073 -0.200000
3352641  1274921323823804422 -0.900000
3352642  1274921323916075010  0.000000

[3352643 rows x 2 columns]

Get specific data columns from jsonl file and convert them into a Dataframe.

Only take tweets that are in English and remove any rows that have missing information.

In [ ]:
df = pd.DataFrame()

db_data = []
db_cols = ['id','full_text', 'created_at']
for d in data:
  if (d['lang'] == 'en'):
    db_data.append([])
    for col in db_cols:
      db_data[-1].append(d.get(col, float('nan')))

df = pd.DataFrame(db_data, columns=['ID','Tweets','Time'])
df = df.dropna()
df

                      ID  ...                            Time
0    1274559273830400000  ...  Sun Jun 21 04:26:25 +0000 2020
1    1274559347566080000  ...  Sun Jun 21 04:26:43 +0000 2020
2    1274559381854720000  ...  Sun Jun 21 04:26:51 +0000 2020
3    1274559374036480000  ...  Sun Jun 21 04:26:49 +0000 2020
4    1274559383779840000  ...  Sun Jun 21 04:26:51 +0000 2020
..                   ...  ...                             ...
970  1274691318824960000  ...  Sun Jun 21 13:11:07 +0000 2020
971  1274691408998400000  ...  Sun Jun 21 13:11:29 +0000 2020
972  1274691662535680000  ...  Sun Jun 21 13:12:29 +0000 2020
973  1274691912860160000  ...  Sun Jun 21 13:13:29 +0000 2020
974  1274692254238720000  ...  Sun Jun 21 13:14:50 +0000 2020

[975 rows x 3 columns]

<h2 id="Date">Date Time Conversion</h2>

Get properly formated date information to be used for the AI model.

In [ ]:
df['Month'] = pd.DatetimeIndex(df['Time']).month
df['Month'] = pd.to_datetime(df['Month'], format='%m').dt.month_name()

df

                      ID  ... Month
0    1274559273830400000  ...  June
1    1274559347566080000  ...  June
2    1274559381854720000  ...  June
3    1274559374036480000  ...  June
4    1274559383779840000  ...  June
..                   ...  ...   ...
970  1274691318824960000  ...  June
971  1274691408998400000  ...  June
972  1274691662535680000  ...  June
973  1274691912860160000  ...  June
974  1274692254238720000  ...  June

[975 rows x 4 columns]

<h2 id="Clean_Tweet">Clean Tweet Messages</h2>

Remove any unnecessary text from the tweet that should not affect the sentiment analysis.

This is a helper function to clean the tweet.

In [ ]:
# Clean tweet text

# Function to clean the tweets
def cleanTweet(text):
  text = re.sub('@[A-Za-z0–9]+', '', text) #Removing @mentions
  text = re.sub('_[A-Za-z0–9]+', '', text) #Removing _words
  text = re.sub('\n', '', text) #Removing _words
  text = re.sub('#', '', text) # Removing '#' hash tag
  text = re.sub('RT[\s]+', '', text) # Removing RT
  text = re.sub('https?:\/\/\S+', '', text) # Removing hyperlink
  
  return text

df['Tweets'] = df['Tweets'].apply(cleanTweet)

# Remove certain punctuations
df['Tweets'] = df['Tweets'].str.replace(':', '')

df['ID'] = df['ID'].astype(int)

df

                      ID  ... Month
0    1274559273830400000  ...  June
1    1274559347566080000  ...  June
2    1274559381854720000  ...  June
3    1274559374036480000  ...  June
4    1274559383779840000  ...  June
..                   ...  ...   ...
970  1274691318824960000  ...  June
971  1274691408998400000  ...  June
972  1274691662535680000  ...  June
973  1274691912860160000  ...  June
974  1274692254238720000  ...  June

[975 rows x 4 columns]

<h2 id="Compile_Data">Compile Training Dataset</h2>

Merge data from jsonl and csv into a new Dataframe.

In [ ]:
df3 = pd.merge(df, df_csv, how ='inner', on ='ID') 
df3

                      ID  ...    Rating
0    1274559273830400000  ... -0.087500
1    1274559347566080000  ...  0.100000
2    1274559381854720000  ...  0.000000
3    1274559374036480000  ...  0.011111
4    1274559383779840000  ... -0.016667
..                   ...  ...       ...
876  1274691318824960000  ...  0.031250
877  1274691408998400000  ...  0.000000
878  1274691662535680000  ...  0.000000
879  1274691912860160000  ... -0.500000
880  1274692254238720000  ...  0.136364

[881 rows x 5 columns]

Remove the tweet ID column. This data is not needed in the dataset to train the AI model.

In [ ]:
df3 = df3.drop(columns=['ID'])
df3

                                                Tweets  ...    Rating
0     trump supporters are so fucking dumb that eve...  ... -0.087500
1     It’s clear that  doesn’t have our backs in th...  ...  0.100000
2    This is literally the dumbest thing I have eve...  ...  0.000000
3     Explore COVID19 projections of hospital resou...  ...  0.011111
4     Trump’s Tulsa Rally requires no masks, no soc...  ... -0.016667
..                                                 ...  ...       ...
876   This is an entire speech about all the ways t...  ...  0.031250
877   I can't believe people are still arguing abou...  ...  0.000000
878  "TFL AND LONDON MAYORS INCREASE AND CHANGES TO...  ...  0.000000
879   This, obviously, is fake, and a recurring lie...  ... -0.500000
880                       New lies brought by COVID19   ...  0.136364

[881 rows x 4 columns]

Remove the detailed time column. This data is not needed in the dataset to train the AI model.

In [ ]:
df3 = df3.drop(columns=['Time'])
df3

                                                Tweets Month    Rating
0     trump supporters are so fucking dumb that eve...  June -0.087500
1     It’s clear that  doesn’t have our backs in th...  June  0.100000
2    This is literally the dumbest thing I have eve...  June  0.000000
3     Explore COVID19 projections of hospital resou...  June  0.011111
4     Trump’s Tulsa Rally requires no masks, no soc...  June -0.016667
..                                                 ...   ...       ...
876   This is an entire speech about all the ways t...  June  0.031250
877   I can't believe people are still arguing abou...  June  0.000000
878  "TFL AND LONDON MAYORS INCREASE AND CHANGES TO...  June  0.000000
879   This, obviously, is fake, and a recurring lie...  June -0.500000
880                       New lies brought by COVID19   June  0.136364

[881 rows x 3 columns]

<h2 id="Convert">Converting Dataframe to CSV</h2>

Remove the row labels and the column labels for a properly formated Dataframe. Convert the newly edited final Dataframe into a csv file.

In [ ]:
from google.colab import files
df3.to_csv('test4.csv', index=False, header=False)
files.download('test4.csv')